
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>

      <input id="colorPick" class="color" type="text" name="color" value="" placeholder='Please put in red or black'>

      <input id="bet" class="amount "type="number" min="0" name="amount" value="" placeholder='Please place your bet'>
      <button id="play" class="button" type="submit" name="button">Play</button>

    <h2 class="result"></h2>


    <section>
      <form class="" action="/path" method="get">
        <input id="owner" type="submit" name="" value="Casino Owner">
      </form>
      <!-- <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a> -->
      <!-- <a href="/signup" class="btn btn-default hide"><span class="fa fa-user"></span>signup</a> -->
    </section>
    <script type="text/javascript" src="main.js">

    </script>
  </body>

  <div class="pokerchip flat"></div>
<div class="pokerchip flat red"></div>


<br><br><br>

<div class="pokerchip iso"></div>
<div class="pokerchip iso red"></div>


</html>
